/*schriftart*/
* {
    font-family: 'Pixelify Sans', sans-serif;
}

/* Stil für den Titlebildschirm */
#title-screen {
    position: relative;
    background-color: #000;
    text-align: center;
    height: 100vh; /* Füllt die gesamte Bildschirmhöhe aus */
}

#background-image {
    position: absolute; /* Hintergrundbild über dem Startbildschirm positionieren */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7; /* Verringert die Opazität des Hintergrundbilds */
}

#content {
    position: relative;
    z-index: 1; /* Der Inhalt liegt über dem Hintergrundbild */
    color: #000;
    padding: 20px;
}

#logo {
    max-width: 200px;
    margin: 0 auto; /* Zentriert das Logo horizontal */
    display: block;
}

#start-button {
    background-color: #000;
    margin: 20px auto; /* Zentriert den Start-Button horizontal */
}
#start-button:hover {
    background-color: rgb(41, 41, 41);
}

#fortsetzen-button {
    background-color: blue;
    margin: 20px auto; /* Zentriert den Start-Button horizontal */
}
#fortsetzen-button:hover {
    background-color: rgb(81, 81, 243);
}

#optionen-button {
    background-color: green;
    margin: 20px auto; /* Zentriert den Start-Button horizontal */
}
#optionen-button:hover {
    background-color: rgb(73, 124, 73);
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

button {
    
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.button-start-screen {
    display: flex;
    flex-direction: column; /* Anordnung der Buttons in einer Spalte */
    align-items: center; /* Zentrierung der Buttons horizontal */
    margin: 20px auto; /* Zentriert den Start-Button horizontal */
}

/* Stil für das Spiel-Fenster */
.game-window-size {
    width: 50%; /* 2/4 der Bildschirmbreite */
    height: 75vh; /* 3/4 der Bildschirmhöhe */
    margin: 0 auto; /* Zentriert das Spiel-Fenster horizontal */
    background-color: #333; /* Dunkelgraue Hintergrundfarbe */
    position: relative;
    z-index: 2; /* Das Spiel-Fenster liegt über dem Startbildschirm */
    overflow: hidden; /* Verhindert das Scrollen innerhalb des Spiel-Fensters */
}


/*Styling klassen text*/

.text-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-color-white {
    color: #fff;
}
.text-color-black {
    color: #000;
}
.text-color-red {
    color: red;
}
.text-color-green {
    color: green;
}
.text-color-blue {
    color: blue;
}
.text-color-yellow {
    color: yellow;
}
.text-color-orange {
    color: orange;
}
.text-color-purple {
    color: purple;
}
.text-color-pink {
    color: hotpink;
}
.text-color-gold {
    color: rgba(255, 217, 0, 0.767);
}
.text-size-10 {
    font-size: 10px;
}
.text-size-20 {
    font-size: 20px;
}
.text-size-30 {
    font-size: 30px;
}
.text-size-40 {
    font-size: 40px;
}
.text-size-50 {
    font-size: 50px;
}
.text-border-lightgrey {
    text-shadow:
        -1px -1px 0 lightgrey,  
        1px -1px 0 lightgrey,
        -1px 1px 0 lightgrey,
        1px 1px 0 lightgrey; /* Füge eine weiße Umrandung um die Buchstaben hinzu */
}
